<div class="container mt-3">
  <h1>Welcome!</h1>
  <!-- Rails helper: just ruby code (er + tab) -->
  <%# Time.now %>
  <!-- Rails helper: display ruby code -->
  <%#= Time.now  %>
  <!-- Rails helper: link_to (lt + tab) -->
  <%#= link_to 'Text we see', prefix_path  %>
  <%= link_to 'About', about_path, class: 'btn btn-primary' %>
  <%= link_to 'Contact', contact_path, class: 'btn btn-info' %>
</div>
